.form {
  padding-top: 60px;
  &__inputfield {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
    &-label {
      font-size: var(--normal-font-size);
      font-weight: var(--font-semi-bold);
    }
    &-input {
      outline: none;
      border: 2px solid rgba(84, 95, 125, 0.15);
      padding: 23px 19px;
      border-radius: 8px;
      font-size: var(--normal-font-size);
      color: var(--text-color);
    }
    &-showpass {
      position: absolute;
      font-size: 12px;
      line-height: 16px;
      color: var(--first-color);
      font-weight: var(--font-semi-bold);
      letter-spacing: 0.1em;
      right: 5%;
      bottom: 37%;
      cursor: pointer;
    }
    &-errorshowpass {
      bottom: 57%;
    }
    &-input::placeholder {
      color: var(--text-color-light) !important;
      font-family: var(--body-font) !important;
    }
    &-input:focus {
      border: 2px solid var(--first-color-light);
    }
    &-error {
      background-color: var(--input-error-bg);
      border: 2px solid var(--input-error-color);
    }
    &-error:focus {
      border: 2px solid var(--input-error-color);
    }
  }

  &__error {
    color: var(--input-error-color);
    margin-top: 0.1rem;
    font-size: var(--small-font-size);
    line-height: 20px;
  }
  &__button {
    margin-top: var(--mb-1) !important;
    font-size: var(--normal-font-size);
    text-transform: capitalize;
    letter-spacing: 0.2px;
    box-shadow: 0px 12px 40px rgba(57, 205, 205, 0.349);
  }
  &__buttonDisable:disabled {
    background: var(--first-color-light);
  }
}

.loading__overlay {
  position: fixed;
  z-index: var(--z-fixed);
  display: grid;
  place-content: center;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;

  &-body {
    transition: 0.5s;
    display: grid;
    place-content: center;
    background-color: #fff;
    border-radius: 13.33px;
    width: 250px;
    height: 230px;
    box-shadow: 1px 0px 63px 0px rgba(0, 0, 0, 0.4);
  }
}

// /* For medium devices */
// @media screen and (max-width: 576px) {
//   .form__inputfield,
//   .form__checkbox,
//   .form__button,
//   .login__forgotpass,
//   .alert__container {
//     width: 330px;
//     margin: 0 auto;
//   }
// }
