.form {
  padding-top: 1.3rem;
  &__inputfield {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &-label {
      font-size: var(--normal-font-size);
      font-weight: var(--font-semi-bold);
    }
    &-input {
      outline: none;
      border: none;
      background-color: var(--input-field-color);
      padding: 23px 19px;
      border-radius: 8px;
      font-size: var(--normal-font-size) !important;
      color: var(--text-color) !important;
    }
    &-input::placeholder,
    select {
      color: var(--text-color-light)!important;
      font-family: var(--body-font)!important;
    }
    &-input:focus {
      border: 2px solid var(--first-color-light);
    }
    &-error {
      background-color: var(--input-error-bg);
      border: 2px solid var(--input-error-color);
    }
    &-error:focus {
      border: 2px solid var(--input-error-color);
    }
  }
  &__checkbox {
    display: flex;
    gap: 1rem;
    align-items: center;

    &-label {
      font-size: var(--normal-font-size)!important;
      color: #666666!important;
    }
  }
  &__error {
    color: var(--input-error-color);
    margin-top: 0.1rem;
    font-size: var(--small-font-size);
    line-height: 20px;
  }
  &__button {
    margin-top: var(--mb-1) !important;
    font-size: var(--normal-font-size);
    text-transform: capitalize;
    letter-spacing: 0.2px;
    box-shadow: 0px 12px 40px rgb(106 82 253 /30%);
  }
  &__buttonDisable:disabled {
    background: var(--first-color-light);
  }
}

.loading__overlay {
  position: fixed;
  z-index: var(--z-fixed);
  display: grid;
  place-content: center;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;

  &-body {
    transition: 0.5s;
    display: grid;
    place-content: center;
    background-color: #fff;
    border-radius: 13.33px;
    width: 250px;
    height: 230px;
    box-shadow: 1px 0px 63px 0px rgba(0, 0, 0, 0.4);
  }
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: #666666;
  width: 1.15em;
  height: 1.15em;
  padding: 8px;
  border: 0.15em solid #666666;
  border-radius: 5px;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}
.otp__input {
  outline: none;
  border: 2px solid var(--first-color-light);
  background-color: var(--input-field-color);
  width: 55px !important;
  height: 55px;
  border-radius: 10.33px;
  font-size: var(--normal-font-size);
  color: var(--text-color);
}
.otp__container {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.otp__input:focus {
  border: 2px solid var(--first-color);
}
input[type="checkbox"]::before {
  content: "";
  width: 0.7em;
  height: 0.7em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--first-color);
  /* Windows High Contrast Mode */
  background-color: var(--input-field-color);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

@media screen and (min-width: 576px) {
  .otp__input {
    width: 69px !important;
    height: 69px;
    border-radius: 13.33px;
  }
}
/* For medium devices */
@media screen and (max-width: 576px) {
  .form__inputfield,
  .form__checkbox,
  .form__button,
  .login__forgotpass,
  .alert__container {
    width: 330px;
    margin: 0 auto;
  }
}
