/*=============== HEADER ===============*/
.header {
  width: 100%;
  @media screen and (max-width: 767px) {
    background-color: var(--body-color);
  }
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: 0.5s; // For animation dark mode
}

.header-background {
  background-color: var(--body-color);
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__hamburger {
    display: none;
    @media screen and (max-width: 767px) {
      display: block;
      width: 1.5rem;
      cursor: pointer;
    }
  }
  &__authbuttons {
    display: none;
    column-gap: 2rem;
    align-items: center;
    &-text {
      font-size: var(--h3-font-size);
      font-weight: 500;
    }
    &-button {
      color: #fff;
      background-color: var(--first-color);
      padding: 12px 40px;
      border-radius: 5px;
      font-size: var(--h3-font-size);
      font-weight: 500;
      box-shadow: 0px 12px 40px rgb(106 82 253 / 30%);
    }
  }

  &__menu {
    @media screen and (max-width: 767px) {
      position: fixed;
      background-color: var(--container-color);

      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
      display: flex;
      row-gap: 1.5rem;
      align-items: center;
      flex-direction: column;
      padding: 5rem 2.5rem 4rem;
      width: 90%;
      top: -100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      transition: 0.5s ease-in-out;
      border-radius: 0.7rem;
      z-index: var(--z-fixed);
      &-img {
        position: absolute;
        z-index: calc(var(--z-fixed) + 1rem);
        right: 2rem;
        top: 2rem;
        cursor: pointer;
      }
    }
    display: none;
  }
  &__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    &-img {
      width: 30px;
    }
    &-text {
      font-size: var(--h2-font-size);
    }
  }

  /* Hide HamBurger Menu */
  &__button {
    // display: none;

    position: absolute;
  }
}

/* Show menu */
.show-menu {
  top: calc(var(--header-height) + 1rem);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}



/* For semi medium devices */
@media screen and (min-width: 575px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 768px) {
 
}
