.login {
  //   padding-bottom: var(--mb-3);
  background-color: #fff;
  height: 100vh;
  &__bgContainer {
    display: none;
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    &-img {
      @media screen and (max-width: 767px) {
        display: block;
        width: 138.44px;
        margin: auto;
      }
      display: none;
    }
  }
  &__content {
    padding-top: 40px;
    &-title {
      font-weight: var(--font-bold);
      color: #213f7d;
    }
    &-subtitle {
      color: #545f7d;
    }
  }
  &__forgotpass {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #39cdcc;
    font-weight: var(--font-semi-bold);
    font-size: 13px;
  }
}

/* For large devices */
@media screen and (min-width: 768px) {
  .login {
    grid-template-columns: repeat(2, 1fr);
    &__bgContainer {
      display: flex;
      flex-direction: column;
      // height: 100vh;

      justify-content: center;
      &-logo {
        width: 138.44px;
        // padding-top: 106px;
      }
      &-img {
        width: 600px;
        padding-top: 139px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .login {
    &__bgContainer {
      display: flex;
      flex-direction: column;
      // height: 100vh;
      justify-content: center;
      &-logo {
        width: 200px;
        // padding-top: 106px;
      }
      &-img {
        width: 100%;
        padding-top: 139px;
      }
    }
  }
}

@media screen and (min-width: 1366px) {
  .login {
    grid-template-columns: 1fr 800px;
    &__container {
      width: 70%;
    }
    &__bgContainer {
      width: 70%;
    }
  }
}
@media screen and (min-width: 1800px) {
}
