.login {
  //   padding-bottom: var(--mb-3);
  &__logo2 {
    position: absolute;
    right: 0;
    top: 0;
  }
  &__logo3 {
    position: absolute;
    left: -25px;
    width: 100px;
  }
  &__container__one,
  &__container__two,
  &__container__three {
    position: relative;
    padding-top: 90px;
    padding-bottom: 90px;
  }

  &__options {
    display: flex;
    margin-top: 35px;
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
    &-img {
      margin: auto;
    }
    &-active {
      cursor: pointer;
      padding: 1.2rem;
      background-color: #fefefe;
      width: 50%;
      outline: none;
      border: none;
      border-radius: 8px;
      transition: 0.4s ease;
    }
    &-buttons {
      cursor: pointer;
      padding: 1.2rem;
      border: none;
      outline: none;
      width: 50%;
      transition: 0.4s ease;
    }
  }
  &__noacct {
    text-align: center;
    margin-top: 25px;
    font-weight: 500;
    &-reg {
      color: var(--first-color);
    }
  }
  &__forgotpass {
    text-align: right;
    font-weight: 500;
    color: var(--first-color);
  }
}

.auth__logo {
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
  &-img {
    width: 50px;
  }
  &-text {
    transform: translateY(-5px);
    font-size: 28px;
  }
}
.auth__content {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--mb-1);
}
.auth__title {
  font-size: var(--h2-font-size);
}
.auth__subtitle {
  font-size: var(--normal-font-size);
  margin-top: 15px;
  color: var(--text-color-light);
  line-height: var(--line-height);
}

.auth__bg {
  display: none;
}

/* For large devices */
@media screen and (min-width: 768px) {
  .login__container__one,
  .login__container__two,
  .login__container__three {
    padding: 10rem;
  }

  .login__options-active,
  .login__options-buttons {
    padding: 1.3rem;
  }
  .login__logo2,
  .login__logo3 {
    width: 150px;
  }
}

@media screen and (min-width: 1024px) {
  .auth__logo {
    display: none;
  }
  .auth__title {
    font-size: 36px;
  }
  .login__container__one {
    background-color: white;
    padding: 10rem 3rem 10rem;
    padding-left: 5rem;
    flex: 1;
    border-radius: 30px 0px 0px 30px;
    width: 100%;
    transform: translateX(-25px);
    height: 70rem;
  }
  .login__container__two {
    background-color: white;
    padding: 7rem 3rem 10rem;
    padding-left: 5rem;
    flex: 1;
    border-radius: 30px 0px 0px 30px;
    width: 100%;
    transform: translateX(-25px);
    height: 136rem;
  }
  .login__container__three {
    background-color: white;
    padding: 7rem 3rem 10rem;
    padding-left: 5rem;
    flex: 1;
    border-radius: 30px 0px 0px 30px;
    width: 100%;
    transform: translateX(-25px);
    height: 85rem;
  }

  .auth__bg {
    display: block;
    object-fit: cover;
    height: 100%;
    max-width: 100%;
  }
  .login__logo2 {
    position: absolute;
    top: 0;
    z-index: 20;
  }
  .login__logo3 {
    position: absolute;
    bottom: 0;
    z-index: 20;
  }
  .login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    padding: 0 !important;
  }
  .login__logo2,
  .login__logo3 {
    width: 250px;
  }
}

@media screen and (min-width: 1366px) {
  .login {
    grid-template-columns: 684px 1fr;
  }

  .login__container__one,
  .login__container__two,
  .login__container__three {
    background-color: white;
    padding-left: 7rem;
    padding-right: 5rem;
    border-radius: 30px 0px 0px 30px;
    transform: translateX(-30px);
  }
}
@media screen and (min-width: 1800px) {
  .login__container__one,
  .login__container__two,
  .login__container__three {
    background-color: white;
    padding-left: 14rem;
    padding-right: 12rem;
    border-radius: 30px 0px 0px 30px;
    transform: translateX(-30px);
  }
}
