.table__outer {
  margin-top: 40px;
  margin-bottom: 40px;
}
.table__container {
  position: relative;
  margin-bottom: 27px;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  background-color: #fff;
  padding: 5px 30px 15px 30px;
  overflow-x: auto;
  overflow-y: auto;
  scroll-behavior: smooth;
  border-radius: 8px;
  &-icon {
    margin: 20px;
  }
  height: 640px;
}
.table-iconmenu {
  cursor: pointer;
}
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  font-family: var(--body-font-alt);
  width: 100%;
}

.styled-table th,
.styled-table td {
  color: #545f7d;
  padding: 15px 24px;
  line-height: var(--line-height);
}

.styled-table tbody tr {
  border-bottom: 1px solid #213f7d1a;
}

.styled-table tbody tr:last-child {
  border-bottom: none;
}
// .table-head {
//   position: relative;
// }
.table__head {
  &-title {
    width: 100%;
    color: var(--first-color);
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
  }
}

.table__row {
  position: relative;
}

.table__status-inactive {
  text-align: center;
  //   width: 100px;
  padding: 5px 10px;
  font-size: 13px;
  color: #545f7d;
  background-color: #545f7d23;
  font-weight: bold;
  border-radius: 100px;
}
.table__status-pending {
  text-align: center;
  //   width: 100px;
  padding: 5px 10px;
  font-size: 13px;
  color: #e9b200;
  background-color: #e9b30028;
  font-weight: bold;
  border-radius: 100px;
}
.table__status-blacklisted {
  text-align: center;
  //   width: 100px;
  padding: 5px 10px;
  font-size: 13px;
  color: #e4033b;
  background-color: #e4033b2c;
  font-weight: bold;
  border-radius: 100px;
}
.table__status-active {
  text-align: center;
  //   width: 100px;
  padding: 5px 10px;
  font-size: 13px;
  color: #39cd63;
  font-weight: bold;
  background-color: #39cd6325;
  border-radius: 100px;
}
.table__filter {
  position: absolute;
  left: 40px;
  bottom: -50px;
  border: 1px solid #545f7d24;
  box-shadow: 3px 5px 20px 0px #0000000a;
  width: 270px;
  height: max-content;
  background-color: #fff;
  border-radius: 8px;
  padding: 30px 20px;
  transition: 0.5s;
  height: 600px;
  overflow-y: auto;
  scroll-behavior: smooth;
  z-index: 999;
}

.table__form {
  // padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  &-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &-label {
    color: #545f7d;
    font-weight: bold;
  }
  &-input {
    outline: none;
    border: 2px solid rgba(84, 95, 125, 0.15);
    padding: 10px 17px;
    border-radius: 8px;
    font-size: var(--normal-font-size);
    color: var(--text-color);
    width: inherit;
  }
  &-input::placeholder,
  select,
  input[type="date"] {
    color: var(--text-color-light) !important;
    font-family: var(--body-font-alt) !important;
  }
  &-btn,
  &-btnOutline {
    width: 98px;
    padding: 10px 17px !important;
    height: 40px !important;
    font-weight: var(--font-bold) !important;
  }
  &-btnOutline {
    background: transparent !important;
    border: 1px solid #545f7d !important;
    color: var(--text-color) !important;
  }
}

.table__btncontainer {
  display: flex;
  justify-content: space-between;
}
.table__action {
  position: absolute;
  background-color: #fff;
  box-shadow: 3px 5px 20px 0px #0000000a;
  border: 1px solid #545f7d0a;
  width: 180px;
  // height: 130px;
  right: -10px;
  border-radius: 4px;
  padding: 20px;
  z-index: 999;

  &-container {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    gap: 10px;
  }
  &-text {
    color: #545f7d;
    font-weight: bold;
    cursor: pointer;
  }
}
.table__actioncontainer {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  // margin-top: 20px;
}
.table__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.table__datacount {
  display: flex;
  align-items: center;
  gap: 10px;
  &-text {
    color: #545f7d;
  }
  &-select {
    outline: none;
    border: none;
    width: 80px;
    padding: 10px;
    background: rgba(33, 63, 125, 0.1);
    border-radius: 4px;
    color: var(--first-color) !important;
    font-weight: bold;
    font-family: var(--body-font-alt) !important;
  }
}
.table__pagination {
  display: flex;
  align-items: center;
  gap: 20px;
  &-btn {
    outline: none;
    border: none;
    // width: 80px;
    padding: 10px;
    background: rgba(33, 63, 125, 0.1);
    border-radius: 4px;
  }
}
.page__number {
  color: #545f7d;
  cursor: pointer;
  opacity: 0.6;
}
.page__number:first-of-type {
  font-weight: bold;
  opacity: 1;
}

@media screen and (min-width: 576px) {
  .table__bottom {
    // display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
  }
}
